pandas==2.2.2
numpy==1.26.4
scipy==1.13.0
linearmodels==6.0
statsmodels==0.14.2
matplotlib==3.8.4
python-pptx==0.6.23
requests==2.32.3
pyarrow==16.0.0
openpyxl==3.1.2
nbformat==5.10.4
nbconvert==7.16.4
ipykernel==6.29.4
jupyter==1.0.0
